<div class="race_feed">
  <div class="race_information">
    <ul>
      <h2>Next Race Unavailable</h2>
      <p>There's currently no race information available. This page will be updated when a race has been scheduled.</p>
    </ul>
  </div>
</div>