<%= button_to('Configure API', api_configuration_index_path, method: :get) %>
<div class="container" id="next_race_container">
  <%= render partial: 'race_information' %>
</div>

<div class="spinner" hidden>
  <%= image_tag 'ripple.gif' %>
</div>



